<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true">

	<!-- Ruta para almecenas los "logs" -->
	<Properties>
		<Property name="basePath">.\logs</Property>
	</Properties>

	<!-- Personalización de los niveles -->
	<CustomLevels>
		<CustomLevel name="ACTIVITY" intLevel="350" />
		<CustomLevel name="ADMON" intLevel="375" />
		<CustomLevel name="ACCESS" intLevel="400" />

	</CustomLevels>


	<Appenders>
		<!-- Nombre de nuestro archivo de log -->
		<RollingFile name="brisa-admon"
			fileName="${basePath}/brisa-admon.log"
			filePattern="${basePath}/brisa-admon-%d{yyyy-MM-dd}.log">
			<!-- Aqui podemos definir un pattern para personalizar lo que nos muestra 
				el log -->
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%logger] --- %c{1}.%M() --- (MESSAGE) ---> %msg%n
				</pattern>
			</PatternLayout>
			<!-- Filtra el tipo de nivel que se guardará en el archivo de log -->
			<LevelRangeFilter minLevel="ADMON" maxLevel="ADMON"
				onMatch="ACCEPT" onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<RollingFile name="brisa-acceso"
			fileName="${basePath}/brisa-acceso.log"
			filePattern="${basePath}/brisa-acceso-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%logger] --- %c{1}.%M() --- (MESSAGE) ---> %msg%n
				</pattern>
			</PatternLayout>
			<LevelRangeFilter minLevel="ACCESS"
				maxLevel="ACCESS" onMatch="ACCEPT" onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<RollingFile name="brisa-actividad"
			fileName="${basePath}/brisa-actividad.log"
			filePattern="${basePath}/brisa-actividad-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%logger] --- %c{1}.%M() --- (MESSAGE) ---> %msg%n
				</pattern>
			</PatternLayout>
			<LevelRangeFilter minLevel="ACTIVITY"
				maxLevel="ACTIVITY" onMatch="ACCEPT" onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<RollingFile name="brisa-alerta"
			fileName="${basePath}/brisa-alerta.log"
			filePattern="${basePath}/brisa-alerta-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%logger] --- %c{1}.%M() --- (MESSAGE) ---> %msg%n
				</pattern>
			</PatternLayout>
			<LevelRangeFilter minLevel="WARN" maxLevel="WARN"
				onMatch="ACCEPT" onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<RollingFile name="brisa-error"
			fileName="${basePath}/brisa-error.log"
			filePattern="${basePath}/brisa-error-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%logger] --- %c{1}.%M() --- (MESSAGE) ---> %msg%n
				</pattern>
			</PatternLayout>
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR"
				onMatch="ACCEPT" onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout disableAnsi="false"
				pattern="%highlight{[%-5level]}{ADMON=green bright, ERROR=red bright, WARN=yellow bright, ACCESS=magenta bright, DEBUG=blue, ACTIVITY=cyan bright,}{BG_White} %style{[%d{HH:mm:ss.SSS}] %logger{36}.%M() --}{white} %style{(MESSAGE)}{cyan} %style{--> %msg%n}{white} " />
		</Console>

		<!-- Modo Asincrono -->
		<Async name="Async">
			<appender-ref ref="brisa-admon" />
			<appender-ref ref="brisa-acceso" />
			<appender-ref ref="brisa-actividad" />
			<appender-ref ref="brisa-alerta" />
			<appender-ref ref="brisa-error" />
		</Async>

	</Appenders>
	<Loggers>

		<!-- Establece un limite sobre que niveles mostrar en los archivos log -->
		<Logger name="com.orange.brisaEjemplo" level="debug"
			additivity="true">
			<appender-ref ref="brisa-admon" level="debug" />
			<appender-ref ref="brisa-acceso" level="debug" />
			<appender-ref ref="brisa-actividad" level="debug" />
			<appender-ref ref="brisa-alerta" level="debug" />
			<appender-ref ref="brisa-error" level="debug" />

		</Logger>
		<!-- Establece un limite sobre que niveles mostrar en la consola -->
		<Root level="debug">
			<appender-ref ref="console" />
		</Root>
	</Loggers>
</Configuration>